@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
 
*{
   font-family: 'Poppins', sans-serif;
}
 h1{
    text-align: center;
    cursor: tool;
 }
 
 table, td {
    color: blue;
    padding: 5px;
    margin-left: 30px;
 }

 .details {
   color: black;
 }
