*{
    
    max-width: 95%;
    margin: auto;
    
}

header {
    background: url('../img/milkbg.jpg') no-repeat top center;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 470px;
}

h2 {
    text-align: center;
    padding: 20px;
}

h3 {
    font-size: 10px;
}

.about {
    background-color: rgb(221, 217, 217);
    margin-top: 40px;
}

.contact {
    background-color: rgba(61, 163, 241, 0.674);
    text-align: center;
    color: white;
}
